@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.attendees-header {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.attendees-title {
  color: var(--primaryBlue);
  font-weight: 700;
  font-size: 3.7rem;
  margin-top: 70px;
  text-align: center;
}

.attendees-info-box {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.check-registration {
  color: var(--primaryRed);
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  margin: 20px 0;
}

.info-label {
  color: var(--primaryBlue);
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}

.info-value {
  color: var(--textBlack);
  font-weight: normal;
  font-size: 30px;
}

@media (max-width: 768px) {
  .attendees-title {
    font-size: 2.2rem;
    margin-top: 90px;
  }

  .check-registration {
    font-size: 1.1rem;
    padding: 0 16px;
  }

  .attendees-info-box {
    margin-top: 10px;
  }

  .info-label {
    font-size: 20px;
  }

  .info-value {
    font-size: 18px;
  }
}
